$colorPrimario: #ffbf00;
$colorSecundario: #414A56;
$colorLetras: #ffffff;
$colorButtonLogin: #414A56;
$colorButtonRegister: #ffffff;
$colorLetrasNegativo: #414A56;
$colorLetrasPositivo: #ffffff;

input{
    padding-left: 1em;
    padding-right: 1em;
}
